body {
    color: #212121;
    background-color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}
// .section {
//     padding-top: 94px;
//     padding-bottom: 94px;
// }
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 480px) {
       width: 480px; 
    }
           @media screen and (min-width: 768px) {
               width: 768px;
           }
                          @media screen and (min-width: 1200px) {
                              width: 1200px;
                          }
}
.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    @media screen and (max-width: 1199px) {
        margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.16;
    }
}

.section {
    padding-top: 60px;
        padding-bottom: 60px;
    
        @media screen and (min-width: 1199px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }
}