:root {
    --primary-text-color: #ffffff;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --black-color: #000000;
    --secondary-text-color: #757575;
    --grey-color: rgba(255, 255, 255, 0.6);
    --background-color: #f5f4fa;
    --footer-color: #2f303a;
    --border-color: #ececec;
    --second-border-color: #eeeeee;
    --background-second-color: rgba(255, 255, 255, 0.1);
    --sec-border-color: #afb1b8;
    --hero-background-color: rgba(47, 48, 58, 0.4);
    --background-opacity-color: rgba(33, 150, 243, 0.9);
    --transition-property: cubic-bezier(0.4, 0, 0.2, 1);
    --text-color: rgba(33, 33, 33, 1);
    --modal-color: rgba(117, 117, 117, 1);
    --modal-border: rgba(33, 33, 33, 0.2)
}

/* Колір основного тексту #212121 */
/* Вторинний колір #757575*/
/* Чорний #000000 */
/* Акцент 1 #2196F3 */
/* Білий #FFFFFF */
/* Колір фону #FFFFFF */
/* Вторинний колір фону #F5F5F5 */
/* Третій колір фону #F5F4FA */
/* Сірий колір rgba(255, 255, 255, 0.6) */